services:
  caddy:
    container_name: caddy
    restart: always
    image: jumager/caddy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/run/tailscale:/var/run/tailscale
      - /run/containers:/run/containers
      - ./data:/data
      - ./config:/config
      - /data/nextcloud:/var/www/html
    network_mode: host
    environment:
      - CADDY_INGRESS_NETWORKS=caddy
      - CADDY_DOCKER_CADDYFILE_PATH=/config/Caddyfile
      - CADDY_HOST=server.example.org
      - CADDY_TAILNET_HOST=server.tailXXXXX.ts.net
      - CADDY_REDIS_HOST=redis-host.tailXXXXX.ts.net
      - CF_API_KEY=YOUR_CLOUDFLARE_API_KEY
      - GOOGLE_CLOUD_PROJECT=hosting-XXXXX
