{
        email jens-uwe@mager.org
        cert_issuer acme
	acme_dns cloudflare {env.CF_API_KEY}
        default_sni {env.CADDY_HOST}
        storage redis {
                host "{env.CADDY_REDIS_HOST}"
        }
        log {
                output file /data/access.log
        }
}

(defaulthdr) {
        header {
                Strict-Transport-Security "max-age=15552000; includeSubDomains; preload"
                -Server
        }
	encode zstd gzip
        log
}

(robots) {
	import defaulthdr
	handle_path /robots.txt {
		file_server * {
			root /data/web/robots/robots.txt
		}
	}
}

(norobots) {
        import defaulthdr
        handle_path /robots.txt {
                file_server * {
                        root /data/robots/norobots.txt
                }
        }
}

(naked) {
        import defaulthdr
        redir https://www.{host}{uri} 308
}

(nextcloud) {
	import defaulthdr
	root * /var/www/html
	file_server
	redir /.well-known/carddav /remote.php/dav 301
        redir /.well-known/caldav /remote.php/dav 301
        redir /.well-known/* /index.php{uri} 301
        redir /remote/* /remote.php{uri} 301
	header {
                Strict-Transport-Security max-age=31536000
                Permissions-Policy interest-cohort=()
                X-Content-Type-Options nosniff
                X-Frame-Options SAMEORIGIN
                Referrer-Policy no-referrer
                X-XSS-Protection "1; mode=block"
                X-Permitted-Cross-Domain-Policies none
                X-Robots-Tag "noindex, nofollow"
                -X-Powered-By
        }
	php_fastcgi nextcloud:9000 {
		env front_controller_active true
                env modHeadersAvailable true
	}
	@forbidden {
                path /build/* /tests/* /config/* /lib/* /3rdparty/* /templates/* /data/*
                path /autotest* /occ* /issue* /indie* /db_* /console*
                not path /.well-known/*
        }
        error @forbidden 404
	@immutable {
                path *.css *.js *.mjs *.svg *.gif *.png *.jpg *.ico *.wasm *.tflite
                query v=*
        }
        header @immutable Cache-Control "max-age=15778463, immutable"
        @static {
                path *.css *.js *.mjs *.svg *.gif *.png *.jpg *.ico *.wasm *.tflite
                not query v=*
        }
        header @static Cache-Control "max-age=15778463"
        @woff2 path *.woff2
        header @woff2 Cache-Control "max-age=604800"
}

http:// {
        import defaulthdr
        redir https://{env.CADDY_HOST} 308
}

{env.CADDY_TAILNET_HOST} {
        import defaulthdr
        skip_log /health
        handle /health {
                respond "{\"status\":\"up\"}"
        }
        handle_errors {
                respond "{uri}: {http.error.status_code} {http.error.status_text}" {http.error.status_code}
        }
}
