name: nextcloud
services:
  nextcloud:
    container_name: nextcloud
    restart: always
    image: nextcloud:fpm-alpine
    volumes:
      - /data/nextcloud:/var/www/html
      - ./docker.conf:/usr/local/etc/php-fpm.d/xxdocker.conf
      - ./php-session-gc.ini:/usr/local/etc/php/conf.d/php-session-gc.ini
      - ./opcache-recommended.ini:/usr/local/etc/php/conf.d/opcache-recommended.ini
    environment:
      REDIS_HOST: redis
      POSTGRES_DB: nextcloud
      POSTGRES_USER: nextcloud
      POSTGRES_PASSWORD: redacted
      POSTGRES_HOST: postgres
      NEXTCLOUD_TRUSTED_DOMAINS: nextcloud.example.org
    labels:
      caddy: nextcloud.example.org
      caddy.import: nextcloud {{upstreams 9000}}
  notify_push:
    container_name: notify_push
    restart: always
    image: jumager/notify_push:local_deploy
    volumes:
      - /run/containers:/run/containers
    environment:
      REDIS_URL: redis://redis
      DATABASE_URL: postgres://nextcloud:redacted@postgres/nextcloud
      DATABASE_PREFIX: oc_
      NEXTCLOUD_URL: https://nextcloud.example.org
      SOCKET_PATH: /run/containers/notify_push.sock
    labels:
      caddy: nextcloud.exmaple.org
      caddy.handle_path: "/push/*"
      caddy.handle_path.reverse_proxy: "unix//run/containers/notify_push.sock"
networks:
  default:
    name: caddy
    external: true
