name: postgres
services:
  postgres:
    container_name: postgres
    restart: always
    image: postgres:18-alpine
    volumes:
      - /run/postgresql:/run/postgresql
      - ./data:/var/lib/postgresql/18/docker
      - ./config:/config
      - ./varlib:/var/lib/postgresql
    ports:
      - 127.0.0.1:5432:5432
      - 100.X.X.X:6379:5432
    environment:
      POSTGRES_PASSWORD: Secret_password
    command: ["postgres", "-c", "config_file=/config/postgresql.conf"]
networks:
  default:
    name: caddy
    external: true
